<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.nzsep">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".KlimaActivity" />
        <activity android:name=".StandortActivity" />
        <activity android:name=".StartActivity" />
        <activity android:name=".TankActivity" />
        <activity android:name=".TuerActivity" />
        <activity
            android:name=".RoutingActivity"
            android:label="@string/title_activity_routing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DriveActivity" />
    </application>

</manifest>